# MongoDB Connection String (Replace with your Atlas URL or use local)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/dbname

# Port for the backend server
PORT=5000

# Secret for JSON Web Tokens
JWT_SECRET=your_jwt_secret_key_here

# Nodemailer Email Configuration
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password_here
