@import "tailwindcss";

@theme {
  --color-navy-900: #0a192f;
  --color-navy-800: #112240;
  --color-navy-700: #233554;
  --color-navy-600: #1d2d50;

  --color-teal-300: #64ffda;
  --color-teal-400: #4cdbb9;
  --color-teal-500: #38b296;
}

body {
  background-color: var(--color-navy-900);
  color: #ccd6f6;
  font-family: 'Inter', sans-serif;
}